body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ccc;
  }
  
  .block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: rgb(126, 194, 240);
  }
  
  h1 {
    margin-bottom: 10px;
  }
   
  .option {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #nextButton {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb0e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #nextButton:hover {
    background-color: #074269;
  }
  
  .timer {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  